# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- R
- Python
- SQL

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Scikit-learn
3. Matplotlib
4. Pandas

|Data Science Tools|
|-----------------------|
|JupyterLite|
|VS Code|
|Google Colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
nMinutes = 200
nHours = nMinutes / 60
nHours

3.3333333333333335

## Author
Stephen Stofka